<div ng-controller="CityCtrl">
    <br/><br/>

    <div row="row">
        <div class="col-md-8 col-md-offset-1">
            <h2>Cities</h2>
            <!--<a  class="btn btn-primary"  ng-click="open('','create.html');" ><i class="glyphicon glyphicon-plus"></i> Create</a>-->
            <!-- ng-click="renderCreateForm();" -->
            <!--<a  ng-href="#/create" class="btn btn-primary"   ><i class="glyphicon glyphicon-plus"></i> Create</a>-->

            <a ui-sref="cities.create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create</a>

            <!-- <button class="btn btn-default" ng-click="open('','modal1.html')">Create</button>-->
            <!--<script type="text/ng-template" id="modal1.html">-->
            <!--</script>-->
            <!-- Split button -->

            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary">Actions</button>

                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="" ng-click="deleteAll()">Delete</a></li>
                    <!--
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    -->
                </ul>
            </div>
            <hr/>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-condensed">
                    <th></th>
                    <th>
                        <a href="" ng-click="sortField='id';reverse=!reverse;filter();">Id</a>
                    </th>
                    <th>
                        <a href="" ng-click="sortField='name';reverse=!reverse;filter();">Name</a>
                    </th>

                    <th colspan="3" class="col-md-3">Actions</th>
                    <tr>
                        <td><input id="city_all" type="checkbox" value="" ng-click="selectAll($event)"
                                   ng-checked="selection.indexOf(city.id) > 0 "/></td>
                        <form id="filter_form">
                            <td><input type="number" size="4" ng-model="cityFilter.id" placeholder=""
                                       ng-keyup="filter();"/></td>
                            <td><input type="text" ng-model="cityFilter.name" placeholder="" ng-keyup="filter();"/></td>


                        </form>
                    </tr>
                    <!-- filter:{id:idFilter,name:nameFilter,age:ageFilter,active:activeFilter} -->
                    <!--https://docs.angularjs.org/error/ngRepeat/dupes?p0=user%20in%20users&p1=object:00B-->
                    <tr ng-animate="{enter: 'animated flip'}" ng-repeat="city in models track by city.id">
                        <td><input id="{{city.id}}" type="checkbox" value="{{city.id}}"
                                   ng-checked="selection.indexOf(city.id) > -1" ng-click="toggleSelection(city.id)"/>
                        </td>
                        <td>{{city.id}}</td>
                        <td>{{city.name}}</td>

                        <td><a ui-sref="cities.view({id:city.id})"
                               class="btn btn-default glyphicon glyphicon-eye-open"></a>
                            <!--</td>
                            <td>-->
                            <a ui-sref="cities.update({id:city.id})"
                               class="btn btn-primary glyphicon glyphicon-pencil"></a>
                            <!--
                            </td>
                            <td>
                            -->
                            <a href="" ng-click="delete(city)" class="btn btn-danger glyphicon glyphicon-remove"></a>
                        </td>

                    </tr>
                </table>
                <pagination total-items="totalItems" items-per-page="items_per_page" ng-model="currentPage"
                            ng-change="pageChanged()"></pagination>

            </div>
            <!--
            <div class="alert alert-success col-md-3 col-md-offset-12">
              <a href="#" class="alert-link"> Succesfully Added</a>
            </div>
          -->
        </div>
        <br/>

        <div class="col-md-3 " id="alert_container"></div>

        <!--
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>Warning!</strong> Better check yourself, you're not looking too good.
				    </div>
				    -->

    </div>

    <div id="view_container" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div ui-view>View here</div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
