<div class="modal-header">
    <a ui-sref="cities" type="button" ng-click="closeModal()" class="close" aria-hidden="true">&times;</a>
    <h3 class="modal-title">View #{{model.id}}</h3>
    <a ui-sref="cities.create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create</a>
</div>

<div class="modal-body">
    <div class="pull-right">
        <a ui-sref="cities.update({id:model.id})" class="btn btn-primary glyphicon glyphicon-pencil"></a>
        <a href="" ng-click="delete(model)" class="btn btn-danger glyphicon glyphicon-remove"></a>
    </div>

    <ul>
        <li>Id:{{model.id}}</li>
        <li>Name:{{model.name}}</li>
    </ul>

</div>