<div class="modal-header">
    <a ui-sref="test1" type="button" ng-click="closeModal()" class="close" aria-hidden="true">&times;</a>

    <h3 class="modal-title">View #{{model.id}}</h3>

    <a ui-sref="test1.create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create</a>


</div>


<div class="modal-body">


    <div class="pull-right">

        <a ui-sref="test1.update({id:model.id})" class="btn btn-primary glyphicon glyphicon-pencil"></a>
        <a href="" ng-click="delete(model.id)" class="btn btn-danger glyphicon glyphicon-remove"></a>
    </div>


    <ul>
          
		 <li>name:{{model.name}}</li>
		    </ul>

</div>